{%include 'layouts/header.njk' %}
<div class="object-left w-1/2 font-sans text-base text-gray-600 bg-red-100 js-toc"></div>
{%include 'layouts/menu.njk' %}
<article class="mx-auto text-artikel">
    <header class="mt-16 mb-12 md:mt-40 md:mb-24">
        <div class="my-8 font-sans">
            {% if '/jurnal' in page.url %}
            <div class="text-sm text-gray-500 md:text-lg">{{ date | dateReadable }}
                {% if update %}<a class="bersih" href="#update">
                    <span class="inline-block px-2 ml-2 font-sans text-xs font-semibold text-red-700 uppercase bg-red-100 md:text-sm rounded-md">updated</span></a>
                {% endif %}
            </div>
            {% endif %}
            <h1 class="mb-2 text-xl font-bold tracking-tight md:text-5xl">{{ title }}</h1>
            <div class="text-base font-semibold text-gray-400 md:text-xl md:mb-2">{{ ringkasan }}</div>
        </div>
    </header>
    <div class="js-toc-content">
    {{ content | safe }}
    <div id="cusdis_thread"
          data-host="https://cusdis.com"
          data-app-id="4eec091e-f1e4-45a3-b6c2-a4daee579f1c"
          data-page-id="{{ date }}" 
          data-page-title="{{ title }}"></div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
    {% readerBar "2px", "", "#e63946" %}
    </div>
    <div class="flex flex-row mt-10 border-t">
        <div class="flex w-1/2 mt-4">
            {% if nextPost.url %}
            <p class="pl-10 text-base">
            ⇚ <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
            </p>
            {% endif %}
        </div>
        <div class="flex w-1/2 mt-4">
            {% if prevPost.url %}
            <p class="pr-10 text-base text-right">
            <a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
             ⇛ </p>
            {% endif %}
        </div>
    </div>
</article>
{%include 'layouts/subs.njk' %}
{%include 'layouts/footer.njk' %}
