---
permalink : /baca/data.json
eleventyExcludeFromCollections: true
---

[{% for post in collections.baca %}
{
    "title": "{{ post.data.title }}",
    "url": "{{ post.url }}",
    "penulis": "{{ post.data.penulis }}",
    "coverImg": "{{ post.data.coverImg }}",
    "resensi": "{{ post.data.resensi }}"
}{{ '' if loop.last else ',' }}
{% endfor %}]
