---
    layout: isi/jurnal.njk
    title: 'Rating'
    ringkasan: 'Apa arti tanda bintang untuk rating buku?'
    date: 2020-08-17
    favorit: false
---

<p>
    Saya sudah suka membaca sejak kecil, apa saja dibaca mulai dari koran pembungkus makanan, buku - buku pelajaran
    (kecuali pelajaran berhitung), novel, komik, dan lain - lain.
</p>

<p>
    Saya menulis resensi buku pertama kali sekitar tahun 2009 (sayang arsipnya hilang). Memang agak jarang karena tidak
    semua
    buku pada saat itu ditulis resensinya. Namun saat mengalami <em>hiatus</em>, situs ini dulu memakai halaman depan
    hanya tentang
    daftar buku saja dengan sedikit resensi sebagai penyerta.
</p>

<p>
    Kemudian daftar buku tersebut sudah saya rubah menjadi <a href="/baca">daftar bacaan</a>.
    Kali ini saya sertakan rating di dalam resensi yang saya tulis untuk memudahkan kalian melihat bagaimana cara
    menilai buku ini
</p>

<table class="table-fixed w-99 mx-auto leading-loose ">
    <thead>
        <tr>
            <th class="w-3/12 px-4 py-2 font-sans">Bintang</th>
            <th class="w-1/10 px-4 py-2 font-sans">Angka</th>
            <th class="px-4 py-2 font-sans">Artinya</th>
        </tr>
    </thead>
    <tbody class="space-y-4">
        <tr>
            <td class="border px-4 py-2">
                <svg class="fill-current text-red-500 inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
            </td>
            <td class="border px-2 py-2 text-center">1</td>
            <td class="border px-4 py-2">
                Buku ini dalam kurun waktu 1 bulan belum selesai terbaca.
            </td>
        </tr>
        <tr class="bg-gray-100">
            <td class="border px-4 py-2">
                <svg class="fill-current text-red-500 inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
            </td>
            <td class="border px-2 py-2 text-center">2</td>
            <td class="border px-4 py-2">
                Sudah selesai dibaca & saya tidak merekomendasikannya
            </td>
        </tr>
        <tr>
            <td class="border px-4 py-2">
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
            </td>
            <td class="border px-2 py-2 text-center">3</td>
            <td class="border px-4 py-2">
                Buku yang bagus, tapi sepertinya tidak terlalu ingin untuk membacanya lagi
            </td>
        </tr>
        <tr class="bg-gray-100">
            <td class="border px-4 py-2">
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
            </td>
            <td class="border px-2 py-2 text-center">4</td>
            <td class="border px-4 py-2">
                Buku yang bagus dan saya rekomendasikan untuk dibaca
            </td>
        </tr>
        <tr>
            <td class="border px-4 py-2">
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
                <svg class="fill-current text-red-500 inline-block h4 w-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                </svg>
            </td>
            <td class="border px-2 py-2 text-center">5</td>
            <td class="border px-4 py-2 justify-start">
                Bukunya sangat bagus. Besar kemungkinan untuk dibaca berulang kali. Saya sangat merekomendasikannya.
            </td>
        </tr>
        </tody>
</table