</div>

<div id="footer" class="bottom-0 left-0 w-full h-16 mt-12 bg-gray-100 border-t border-gray-200">
    <div class="flex flex-row items-center justify-between py-4 mx-auto text-sm md:w-100 lg:w-5/12">
        <div class="w-1/4">
            <p>&copy; <script>
                    document.write(new Date().getFullYear())
                </script>&nbsp; kusaeni</p>
        </div>
        <div class="flex justify-end w-3/4">
            <p>dibuat dengan <a href="https://11ty.dev">11ty</a> + <a
                    href="https://github.com/kuspoes/jurnal">Github</a> +
                <a href="https://netlify.com">Netlify</a> = <img class="inline" width="14" src="{{ '/css/img/kusaeni.png' | url }}"
                    alt="kusaeni">
        </div>
    </div>
</div>
{% if toc %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
<script>
    tocbot.init({
    // Where to render the table of contents.
    tocSelector: '.js-toc',
    // Where to grab the headings to build the table of contents.
    contentSelector: '.js-toc-content',
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h2, h3, h4, h5',
    // For headings inside relative or absolute positioned containers within content.
    hasInnerContainers: true,
    });
</script>
{% endif %}
<script data-goatcounter="https://kusaeni.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</div> <!-- reader bar -->
<script src="https://cdn.jsdelivr.net/npm/prerender_all@1.1.0/prerender.js" integrity="sha256-24v6xZyfIpefNGAWj+r65XOkqCkF9joivvLRloIyccQ=" crossorigin="anonymous"></script>
</body>
</html>
