</div>

<div id="footer" class="w-full h-16 bg-gray-100 border-t border-gray-200 left-0 bottom-0 mt-12">
    <div class="md:w-100 lg:w-5/12 flex flex-row text-sm py-4 mx-auto items-center justify-between">
        <div class="w-1/4">
            <p>&copy; <script>
                    document.write(new Date().getFullYear())
                </script> kusaeni</p>
        </div>
        <div class="w-3/4 flex justify-end">
            <p>dibuat dengan <a href="https://11ty.dev">11ty</a> + <a
                    href="https://github.com/kuspoes/jurnal">Github</a> +
                <a href="https://netlify.com">Netlify</a> = <img class="inline" width="14" src="{{ '/css/img/kusaeni.png' | url }}"
                    alt="kusaeni"> <a href="#top">↥ top</a></p>
        </div>
    </div>
</div>
<script data-goatcounter="https://kusaeni.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>