<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kusaeni tulisan, catatan, dan fotografi">
    <meta name="keywords" content="{{ keywords or metadata.meta_key}}">
    <meta name="author" content="Kusaeni">
    <link href="https://twitter.com/kuspoes" rel="me">
    <title>{{ title or metadata.title }}</title>
    <link rel="preload" href="{{ '/css/style.css' | url }}" as="style">
    <link rel="preload" href="{{ '/css/fonts.css' | url }}" as="style">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fonts.css' | url }}">
    {% if code %}<link rel="preload" href="{{ '/css/prism.css' | url }}" as="style"><link rel="stylesheet" href="{{ '/css/prism.css' | url }}">{% endif %}
    <link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="Subscribe to Kusaeni Jurnal" href="https://kusaeni.com/feed.xml" />
</head>
{% if '/subs' in page.url %}
<body id="top" class="font-sans text-lg bg-gray-100 md:text-xl">
{% else %}
<body id="top" class="text-lg font-sserif md:text-xl">
<div class="reader-bar-start">
    {% if '/foto' in page.url %}
        <div id="halaman" class="w-full mx-auto">
    {% elif  '/baca' in page.url %}
        <div id="halaman" class="w-full mx-auto md:w-4/5">
    {% else %}
        <div id="halaman" class="w-full mx-auto md:w-100">
    {% endif %}
{% endif %}

